<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{- block "scripts" . }} {{ end }} <!-- Get "script_opts" variable from "scripts" block -->
  {{- $custom_scripts := .Scratch.Get "script_opts" | default dict -}}
  {{- $base_scripts := slice (dict "src" "js/main.js") $custom_scripts -}}
  {{- .Scratch.Set "scripts" $base_scripts -}}
  {{- partial "head.html" . -}}
</head>
<body>
  {{- partial "header.html" . -}}
  {{- block "main" . -}}{{- end -}}
  {{- partial "footer.html" . -}}
</body>
</html>
