body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

.container {
    margin: auto;
    max-width: var(--width);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--heading-color);
}

h1 {
    font-size: 1.5em;
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

header {
    margin-bottom: 1.75rem;

    nav {
        margin-bottom: 1.5rem;
        .menu {
            display: flex;
            gap: 1.5rem;
        }
    }
}

article {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

time {
    font-family: monospace;
    font-style: normal;
    font-size: 15px;
}

main {
    line-height: 1.6;
}

footer {
    padding: 25px 0;
}

div.chroma {
    overflow-x: scroll;
}

.title:hover {
    text-decoration: none;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.pagination {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}