@use postcss-preset-env;
@use postcss-custom-media;

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  margin: 0 16px;
  font-family: var(--font-family);
  font-feature-settings: normal;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text);
  background-color: var(--back);
  transition-property: background-color, border-color, color;
  transition-duration: 0.5s;
}
@custom-media --med (width <= 50rem);
@media (--med) {
  a { 
    &:hover {
      color: color-mod(black alpha(54%));
    }
  }
}

header {
  margin-top: 0.75rem;
  margin-bottom: 2rem;

  >div {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-w);

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        align-items: center;
      }

      ul {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        li {
          list-style: none;
          margin: 0 0.5rem;
          padding: 0;
        }
      }
    }
  }
}

footer {
  margin-top: 0.75rem;
  margin-bottom: 2rem;

  &>div {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-w);  
  }
}

a {
  color: var(--text);
  text-decoration: none;

  &:hover {
    color: var(--prime);
  }
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-w);
  animation: showup 0.7s;
}


@keyframes showup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.7);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 128, 128, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(128, 128, 128);
}
