<meta charset="utf-8">
<meta name="language" content="en">
{{- $description := .Site.Params.description  -}}
{{- if (isset .Page.Params "description") -}}
  {{- $description = printf "%s - %s" .Site.Params.description .Page.Params.description -}}
{{- end -}}
<meta name="description" content="{{- $description -}}">
<meta name="keywords" content="{{ delimit .Site.Params.keywords " " }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{- with .OutputFormats.Get "rss" -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ site.Title }}">
{{- end -}}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{- partialCached "head/css.html" . -}}
{{- partialCached "head/js.html" . -}}
